{% extends 'base.html' %}
{% block content %}
{% if publications %}
<div class="publications">
    {% for publication in publications %}
    <div class="publication">
        <img src="{{ publication.user.avatar }}" alt="avatar">
        <h2>{{ publication.user.username }}</h2>
        <a href="{% url 'publication_detail' publication.pk %}">
            <img src="{{ publication.image.url }}" alt="{{ publication.description }}">
        </a>
        <p>{{ publication.description }}</p>
        <p>{{ publication.created_at }}</p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Вы не подписаны ни на одного пользователя.</p>
{% endif %}
{% endblock %}
