{% extends 'base.html' %}
{% block content %}
<h1><b>Логин:</b> {{ user.username }}</h1>
{% if subscription %}
    <form method="post" action="{% url 'unsubscribe' subscription.pk %}">
        {% csrf_token %}
        <button type="submit">Отписаться</button>
    </form>
{% else %}
    <form method="post" action="{% url 'subscribe' user.pk %}">
        {% csrf_token %}
        <button type="submit">Подписаться</button>
    </form>
{% endif %}

{% if user.avatar %}
<img src="{{ user.avatar.url }}" alt="{{ user.username }}">
{% else %}
<p>No Avatar!</p>
{% endif %}
<b>Имя:</b> <p>{{ user.name }}</p>
<p><b>Информация:</b> {{ user.user_information }}</p>
<h2>Публикации:</h2>
{% for publication in user.publications.all %}
<div>
    <a href="{% url 'publication_detail' publication.pk %}">
        <img src="{{ publication.image.url }}" alt="{{ publication.description }}">
    </a>
    <p>{{ publication.description }}</p>
    <p>Нравится: {{ publication.likes.count }}</p>
    <p>Комментарии: {{ publication.comments.count }}</p>
</div>
{% endfor %}
{% endblock %}
