{% extends 'base.html' %}
{% block content %}
<h1>{{ user.username }}</h1>
<form method="post" action="{% url 'subscribe' user.pk %}">
    {% csrf_token %}
    <button type="submit">Подписаться</button>
</form>
<form method="post" action="{% url 'unsubscribe' user.pk %}">
    {% csrf_token %}
    <button type="submit">Отписаться</button>
</form>
<img src="{{ user.avatar }}" alt="{{ user.username }}">
<p>{{ user.name }}</p>
<p>{{ user.user_information }}</p>
<h2>Publications:</h2>
{% for publication in user.publications.all %}
<div>
    <img src="{{ publication.image }}" alt="{{ publication.description }}">
    <p>{{ publication.description }}</p>
    <p>Likes: {{ publication.likes.count }}</p>
    <p>Comments: {{ publication.comments.count }}</p>
</div>
{% endfor %}
{% endblock %}
