{% extends "base.html" %}
{% block content %}
<div class="card mb-5" style="border: none">
    <div class="row g-0">
        <div class="col-md-4">
            {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="avatar" class="rounded-circle border border-light">
            {% else %}
            <img src="../../static/media/no_image.jpg" alt="avatar" class="rounded-circle border border-light">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ user.username }}</h5>
                <a href="{% url 'profile_update' %}" class="btn btn-light border border-dark ms-3 mb-3">Редактировать профиль</a><br>
                <p class="card-counts">{{ user.publications_count }} публикаций</p>
                <p class="card-counts ms-3">{{ user.subscribers_count }} подписчиков</p>
                <p class="card-counts ms-3">Подписки: {{ user.subscriptions_count }}</p>
                {% if user.name %}
                <p>{{ user.name }}</p>
                {% else %}
                <p></p>
                {% endif %}
                {% if user.user_information %}
                <p class="card-text">{{ user.user_information }}</p>
                {% else %}
                <p class="card-text"></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<hr>
{% if user.publications.all.count > 0 %}
<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    {% for publication in user.publications.all %}
    <div class="col">
        <div class="card h-100 publications_card">
            <a href="{% url 'publication_detail' publication.pk %}">
                <img class="card-img-top" src="{{ publication.image.url }}" alt="{{ publication.description }}">
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="another_publication_list mt-3">
    <a href="{% url 'publication_add' %}">
        <img src="../../static/media/camera.jpg" alt="avatar" class="rounded-circle border border-light">
    </a>
</div>
<div class="another_publication_list_text mt-3">
    <h3>Пока нет публикаций</h3>
</div>
{% endif %}
{% endblock %}
