{% extends 'base.html' %}
{% block content %}
<h1>{{ publication.description }}</h1>
<img src="{{ publication.image.url }}" alt="{{ publication.description }}">
<p>Нравится: {{ publication.likes_count }}</p>
{% if not has_liked %}
<form method="post" action="{% url 'like' publication.pk %}">
    {% csrf_token %}
    <input type="submit" value="Like">
</form>
{% else %}
<p>Вы уже поставили лайк этой публикации.</p>
{% endif %}
<p>Комментарии: {{ publication.comments_count }}</p>
<hr>
<h2>Comments:</h2>
<ul>
    {% for comment in publication.comments.all %}
    <li>{{ comment.text }}</li>
    {% empty %}
    <li>No comments yet.</li>
    {% endfor %}
</ul>
<form method="post" action="{% url 'comment_add' publication.pk %}">
    {% csrf_token %}
    <input class="form-control me-2" type="text" placeholder="Добавьте комментарий...">
</form>
{% endblock %}
